<!DOCTYPE html>
<html>
  <head>
    <title>Best Search Engine</title>
  <style type="text/css">
  @import url("../static/home.css");
  
  </style>
  </head>
  <body>
  <img src="/static/home.jpg"  class="backgroundimg"/>
  <div class="bar1" >
  <h1 class="font">Best Search </h1>
    <form action="/search" method="get">
      <input type="text" id="keywords" name="keywords" class= "bar2">
      <input type="submit" value="Search" class="button">
    </form>
		</div>
  </body>
</html>